@import "tailwindcss";
.scroll-hidden {
    opacity: 0;
}

.fade-in-up {
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-up.show {
    opacity: 1;
    transform: translateY(0);
}

.fade-in {
    transition: opacity 0.8s ease-out;
}

.fade-in.show {
    opacity: 1;
}

.fade-in-left {
    transform: translateX(-40px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-left.show {
    opacity: 1;
    transform: translateX(0);
}

.fade-in-right {
    transform: translateX(40px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-right.show {
    opacity: 1;
    transform: translateX(0);
}

.scale-in {
    transform: scale(0.9);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.scale-in.show {
    opacity: 1;
    transform: scale(1);
}

.bg-position-38 {
    background-position: 38% center;
}

@media (min-width: 640px) {
    .bg-position-38 {
        background-position: center;
    }
}

@keyframes infinite-scroll-partners {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-infinite-scroll-partners {
    animation: infinite-scroll-partners 12s linear infinite;
}

@media (min-width: 760px) {
    .animate-infinite-scroll-partners {
        animation: none;
    }
}